@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    background-color: black;
    color: white;
}

/* ====================================>Navigation Bar<============================================ */

.nav-head {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.nav-head img {
    width: 10rem;
}

.nav-head .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 6rem;
    font-size: 1.5rem;
}

.nav-head .nav-items li {
    list-style: none;
    cursor: pointer;
    color: white;
   
}

.nav-head .nav-items li a {
    text-decoration: none;
}

.fa-phone {
    color: #2f9442;
    margin-right: 2px;
}

.fa-bars{
    display: none;
}

/* ==============================>Main Section Our Products<=====================================  */

.heading {
    font-size: 1.75rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.products {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .product-image {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.products .product-info .product-image:hover {
    transform: scale(1.1);
}

.products .product-info {
    text-align: center;
    margin: 1.5rem;
}

.products .product-info p {
    font-size: 1.75rem;
}

.products .product-info button {
    background-color: white;
    color: black;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.products .product-info button:hover {
    background-color:#2f9442;
    color: white;
}

.blur {
    filter: blur(2px);
}

select {
    width: 10rem;
    height: 2rem;
    
}
/*==============================================>Footer<=====================================================*/

#footer-div {
    background-color: rgb(83, 83, 83);
}

.footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    height: 7rem;
}

.footer p, h3 {
    background-color: rgb(83, 83, 83);
}

.logo-tagline {
    background-color: rgb(83, 83, 83);
    text-align: center;
}

.logo-tagline .footer-image {
    width: 10rem;
    background-color: rgb(83, 83, 83);
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(83, 83, 83);
}

.social-icons a:link{
  background-color: transparent;
 
}

.social-icons a .facebook {
    width: 2.2rem;
    background-color:  rgb(83, 83, 83);
    cursor: pointer;
    text-decoration: none !important;
}

.social-icons a .instagram {
    width: 3rem;
    background-color:  rgb(83, 83, 83);
    cursor: pointer;
}

.about-us, .follow-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 83, 83);
}

.fa-location-dot {
    background-color: rgb(83, 83, 83);
    color: red;
}

@media only screen and (max-width : 700px)  /*============================>Mobile View<=============================*/
{
    .nav-head {
        position: relative;
    }

    .nav-head .nav-items {
        display: none;
       
    }

    .nav-head .nav-itemsactive {
        display: inline-block;
        position: absolute;
        margin-top: 5rem;
        width: 100%;
        height: 5rem;
        
    }

    .nav-head .nav-itemsactive li {
       
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
    }

    .fa-bars, .fa-xmark {
        display: flex;
        font-size: 2.5rem;
        color: #2f9442;
        align-items: center;
        margin-right: 0.8rem;
    }

    /*=======================================>Products Main Section<=============================================*/

    .products {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

  
    .products .product-info {
        border: 1px solid white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    #footer-div {
        background-color: rgb(83, 83, 83);
        height: 290px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    /* .logo-tagline .footer-image {
        display: flex;
        justify-content: center;
        align-items: ;
    }
     */
}